<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<nav class="navbar navbar-dark bg-dark fixed-top">
    <form class="form-inline">
        <strong>
            <span class="navbar-brand text-white" th:text="${user.getUsername()}"></span>
        </strong>
        <span class="navbar-text text-white"> with roles: &nbsp; </span>
        <span class="navbar-text text-white"> <a th:each="role : ${user.getUserRoles()}"
                                                 th:text="${role.getRoleFormat()}+ ' '"></a></span>
    </form>
    <ul class="navbar-nav float-lg-end">
        <li class="nav-item">
            <a class="nav-link text-muted" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>

<!-- Контейнер под Навигационнаой панелью -->
<div class="container-fluid bg-light">
    <div class="row">
        <!--    Left block    -->
        <div class="col-sm-2 bg-white min-vh-100">
            <ul class="nav nav-pills flex-column">
                <br/>
                <br/>
                <br/>
                <li class="nav-item" sec:autorize="hasAuthority('ROLE_ADMIN')">
                    <a class="nav-link active" th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item" sec:autorize="hasAuthority('ROLE_USER')">
                    <a class="nav-link " th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>
        <!--right block-->
        <div class="col-sm-10 bg-light"><br><br><br>
            <!--малая нвигационная панель-->
            <h2>Admin panel</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#user-table"> Users table </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#add-user">New User</a>
                </li>
            </ul>

            <!--Таблица навигации-->
            <div class="tab-content">

                <!-- Таблица юзеров-->
                <div class="tab-pane container-fluid active" id="user-table">
                    <div class="row">
                        <div class="col border bg-light">
                            <p><h6>All users</h6>
                        </div>
                        <div class="w-100"></div>
                        <div class="col border bg-white">
                            <br/>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>UserName</th>
                                    <th>Name</th>
                                    <th>LastName</th>
                                    <th>Age</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.getId()}"></td>
                                    <td th:text="${user.getUsername()}"></td>
                                    <td th:text="${user.getName()}"></td>
                                    <td th:text="${user.getLastname()}"></td>
                                    <td th:text="${user.getAge()}"></td>
                                    <td>  <a th:each="role : ${user.getUserRoles()}" th:text="${role.getRoleFormat()} + ' '"></a></td>

                                    <td>
                                        <!--Кнопка редактирования -->
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                th:data-target="${'#update' + user.getId()}"> Edit
                                        </button>

                                        <!--Модальное коно редактирования-->
                                        <div class="modal" th:id="${'update' + user.getId()}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <!--Заголовок моадльного окна-->
                                                    <div class="modal-header">
                                                        <h6 class="modal-title">Edit user</h6>
                                                        <button type="button" class="close" data-dismiss="modal">
                                                        </button>
                                                    </div>

                                                    <!--Тело модального окна-->
                                                    <div class="modal-body">
                                                        <div class="form-group row justify-content-center align-items-center">
                                                            <form th:action="@{/admin/update/{id}(id=${user.getId()})}"
                                                                  th:object="${user}" th:method="POST">

                                                                <strong><label for="upId">ID: </label></strong>
                                                                <br/>
                                                                <input type="number" class="form-control"
                                                                       th:value="${user.getId()}" id="upId"
                                                                       name="id" readonly>
                                                                <br/>

                                                                <strong><label for="upUserName">Username:</label></strong>
                                                                <br/>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getUsername()}" id="upUserName" name="username">
                                                                <br/>

                                                                <strong><label for="upPassword">Password:</label></strong>
                                                                <br/>
                                                                <input type="password" class="form-control"
                                                                       th:value="null"
                                                                       id="upPassword" name="password">
                                                                <br/>

                                                                <strong><label for="upName">Name:</label></strong>
                                                                <br/>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getName()}" id="upName"
                                                                       name="name">
                                                                <br/>

                                                                <strong><label for="upLastName"> Lastname: </label></strong>
                                                                <br/>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getLastname()}"
                                                                       id="upLastName" name="lastname">
                                                                <br/>

                                                                <strong><label for="upAge">Age: </label></strong>
                                                                <br/>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getAge()}"
                                                                       id="upAge" name="age">
                                                                <br/>

                                                                <label for="upRoles"></label><select multiple
                                                                                                     class="form-control w-100"
                                                                                                     id="upRoles"
                                                                                                     name="check">
                                                                <option th:each="role : ${roleSet}"
                                                                        th:value="${role.getId()}"
                                                                        th:text="${role.getRoleName()}">
                                                                </option>
                                                            </select>

                                                                <!--Подвал модального окна-->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <input type="submit" class="btn btn-info"
                                                                           value="Edit"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <!-- Кнопка удаления -->
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                th:data-target="${'#delete' + user.getId()}">Delete
                                        </button>

                                        <!-- Модальное окно удаления юзера -->
                                        <div class="modal" th:id="${'delete' + user.getId()}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <!-- Заголовок модального окна -->
                                                    <div class="modal-header">
                                                        <h6 class="modal-title">Delete user</h6>
                                                        <button type="button" class="close" data-dismiss="modal">
                                                        </button>
                                                    </div>

                                                    <!-- Тело модального окна -->
                                                    <div class="modal-body">
                                                        <div class="form-group row justify-content-center align-items-center">
                                                            <form th:action="@{/admin/user-delete/{id}(id=${user.getId()})}"
                                                                  th:object="${user}" th:method="DELETE">

                                                                <strong><label for="deleteId">ID: </label></strong>
                                                                <br/>
                                                                <input type="number" class="form-control"
                                                                       th:value="${user.getId()}" id="deleteId"
                                                                       name="id" readonly>
                                                                <br/>

                                                                <strong><label
                                                                        for="deleteUsername">Username: </label></strong>
                                                                <br/>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getUsername()}"
                                                                       id="deleteUsername" name="username" readonly>
                                                                <br/>

                                                                <strong><label for="deleteName">Name: </label></strong>
                                                                <br/>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getName()}" id="deleteName"
                                                                       name="name" readonly>

                                                                <strong><label
                                                                        for="deleteLastname">Lastname: </label></strong>
                                                                <br/>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getLastname()}"
                                                                       id="deleteLastname" name="lastname" readonly>
                                                                <br/>

                                                                <strong><label
                                                                        for="deleteAge">Age: </label></strong>
                                                                <br/>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getAge()}"
                                                                       id="deleteAge" name="Age" readonly>
                                                                <br/>

                                                                <select multiple class="form-control w-100"
                                                                        id="deleteRoles" name="userRoles" readonly>
                                                                    <option
                                                                            th:each="role : ${user.userRoles}"
                                                                            th:text="${role}">
                                                                    </option>
                                                                </select>

                                                                <!-- Подвал модального окна -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <input type="submit" class="btn btn-danger"
                                                                           value="delete"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--add users-->
                <div class="tab-pane container-fluid fade" id="add-user">
                    <div class="row">
                        <div class="col border bg-light">
                            <p><h6>Add new user</h6>
                        </div>
                        <div class="w-100"></div>
                        <div class="col border bg-white text-center">
                            <br/>
                            <form th:action="@{/admin/create}" th:object="${newUser}" method="POST">

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="addUsername">Username: </label></strong>
                                        <br/>
                                        <input type="text" class="form-control" th:field="*{username}"
                                               id="addUsername"
                                               placeholder="Username">
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="addPassword">Password: </label></strong>
                                        <br/>
                                        <input type="password" class="form-control" th:field="*{password}"
                                               id="addPassword"
                                               placeholder="Password" required>
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="addName">Name: </label></strong>
                                        <br/>
                                        <input type="text" class="form-control" th:field="*{name}" id="addName"
                                               placeholder="Name">
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="addLastname">Lastname: </label></strong>
                                        <br/>
                                        <input type="text" class="form-control" th:field="*{lastname}" id="addLastname"
                                               placeholder="Lastname">
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="addAge">Age: </label></strong>
                                        <br/>
                                        <input type="text" class="form-control" th:field="*{age}" id="addAge"
                                               placeholder="Age">
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <label for="roles">Select roles: </label>
                                        <select multiple class="form-control w-100" id="roles" name="check">
                                            <option
                                                    th:each="role : ${roleSet}"
                                                    th:text="${role.getRoleName()}"
                                                    th:value="${role.getId()}">
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success">
                                    Add new user
                                </button>
                                <br/>
                                <br/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</html>