<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.w3.org/1999/xhtml>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table border="5">
            <thead>
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>Password</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Age</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getNameOnSite()}"></td>
                <td th:text="${user.getPassword()}"></td>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getAge()}"></td>
                <td>
                <span th:each="role : ${user.getUserRoles()}">
                    <span th:text="${role.getRoleName()}"></span>
                </span>
                </td>
                <td><a th:href="@{user-update/{id}(id=${user.id})}">Edit</a></td>
                <td><a th:href="@{user-delete/{id}(id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/user-create">Create user</a></p>
</div>
<form th:action="@{'/logout'}">
    <input type="submit" , value="Logout"/>
</form>
</body>
</html>