<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.w3.org/1999/xhtml>
<head>
    <meta charset="UTF-8">
    <title>User home page</title>
</head>
<body>
<h2> User page info</h2>
<div th:if="${user}">
    <table border="5">
        <tr>
            <th>ID</th>
            <th>UserName</th>
            <th>Password</th>
            <th>Name</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Role</th>
        </tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getNameOnSite()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td>
        <span th:each="role : ${user.getUserRoles()}">
            <span th:text="${role.getRoleName()}"></span>
        </span>
        </td>

    </table>
</div>
<br/>
<br/>
<form th:action="@{'/logout'}">
    <input type="submit" , value="Logout"/>
</form>
</body>
</html>