<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.w3.org/1999/xhtml>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="POST" >
    <label for="id"> ID </label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <label for="userName"> User Name</label>
    <input type="text" th:field="*{nameOnSite}" id="userName" placeholder="User Name">
    <label for="password"> Password </label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <label for="firstName"> First name</label>
    <input type="text" th:field="*{name}" id="firstName" placeholder="First Name">
    <label for="lastName"> Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <label for="age"> Age </label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age">
    <label > Role </label>
    <br><br>
    <select name="nameRoles" multiple size="4">
        <option th:each="role : ${roles}"
                th:value="${role.RoleName}"
                th:text="${role.getRoleName()}">
        </option>
    </select>
    <br><br>
    <input type="submit" value="Update User">
</form>
<form th:action="@{'/logout'}">
    <input type="submit" , value="Logout"/>
</form>
</body>
</html>